{include file="public/header" /}
<!--内容显示-->
<!-- blog/Admin CSS -->
<link rel="stylesheet" href="__STATIC__/blog/admin.css">
<script type="text/javascript">
    window.onload=function () {
        var state=document.getElementsByName('statebtn');
        for(var i = 0; i < state.length; i++) {
            state[i].index = i;
            state[i].onclick=function () {
                var stateclass= state[this.index].className;
                if(stateclass=="btn btn-primary btn-sm"){
                    state[this.index].className="btn btn-danger btn-sm";
                    state[this.index].value="禁用";
                    var hiddenstate=document.getElementsByName('state');
                    hiddenstate[this.index].value="禁用";
                }else if(stateclass=="btn btn-danger btn-sm"){
                    state[this.index].className="btn btn-primary btn-sm";
                    state[this.index].value="启用";
                    var hiddenstate=document.getElementsByName('state');
                    hiddenstate[this.index].value="启用";
                }
            }
        }
    }
</script>
<!-- 文章管理 类别显示页面-->
<div class="row">
    <div class="col-lg-12" style="margin-top: 25px;">
        <div class="panel panel-default">
            <!--文章标头-->
            <div class="panel-heading ArtManHeader">
                {$Header}
            </div>
            <!--文章标头-->
            {volist name='AdminDate' id='Admin'}
            <div class="panel-body">
                <div class="col-xs-12" style="margin-left: 15%;margin-top: 35px;">
                    <form class="form-horizontal ajaxForm2" name="form0" method="post" action="../manage/UpdateAdmin">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> 编号：  </label>
                            <div class="col-sm-5">
                                <input type="hidden" value={$Admin.admin_id} name="admin_id" class="col-xs-10 col-sm-6 form-control">
                                <input type="text" value={$Admin.admin_id} placeholder="" class="col-xs-10 col-sm-6 form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> 登录名：  </label>
                            <div class="col-sm-5">
                                <input type="hidden" value={$Admin.admin_name} name="admin_name" class="col-xs-10 col-sm-6 form-control">
                                <input type="text" value={$Admin.admin_name} class="col-xs-10 col-sm-6 form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> 新密码：  </label>
                            <div class="col-sm-5">
                                <input type="text"   name="admin_password" value="" class="col-xs-10 col-sm-6 form-control">
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <?php
                            if($Admin['admin_state']==1){
                                $state="启用";
                                $class="btn-primary";
                            }else {
                                $state="禁用";
                                $class="btn-danger";
                            }
                        ?>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">  </label>
                            <div class="col-sm-10" style="padding-top:5px;">
                                <input  disabled="disabled" type="button" name="statebtn" value={$state} class="btn {$class} btn-sm">
                                <input type="hidden" name="state"  value="{$state}">
                                <span class="lbl">&nbsp;&nbsp;当前状态</span>
                            </div>
                        </div>
                        <div class="clearfix form-actions" style="margin-left: -10%;margin-top: 35px;">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    更改
                                </button>
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {/volist}
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<div id="modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="margin-top: 80%">
            <div style="width: 300px;height: 150px">
                <div style="padding: 20px 20px 20px 55px;text-align: left;position: relative;line-height: 24px;word-break: break-all;font-size: 14px;overflow: auto;">
                    你确定要删除吗？
                </div>
                <a id="yes" class="btn btn-default btn-sm" href="#" role="button" style="margin-left: 60%;margin-top: 35px;"  data-dismiss="modal">确定</a>
                <a id="no" class="btn btn-default btn-sm" href="#" role="button" style="margin-top: 35px;"  data-dismiss="modal">取消</a>
            </div>
        </div>
    </div>
</div>
{include file="public/tail" /}

