    <div id="retuenList">
    <select class="form-control" {$styleOne} name="OneType">
        <option value="-1">请选择...</option>
        {volist name="TypeData" id="Type"}
        <?php
            if($type_name == $Type['type_name']){
                $selected ="selected";
            }else $selected="";
        ?>
        <option {$selected} value="{$Type.type_id}">{$Type.type_name}</option>
        {/volist}
    </select>
        <select class="form-control"{$styleTwo} name="TwoType">
            <option>请选择...</option>
            {volist name="TwoData" id="TwoData"}
            <option value="{$TwoData.type_id}">{$TwoData.type_name}</option>
            {/volist}
        </select>
    </div>
    <script type="text/javascript">
        /*AJAX 获取二级分类*/
        $("select[name='OneType']").change(function () {
            var id = $("select[name='OneType']").val();
            $.ajax({
                type:"GET",
                url:"../Goodsmanage/ShowTypeList",
                data:{"type_id":id},
                dataType:"text",
                success : function(outData) {
                    $("#retuenList").html(outData);
                }
            })
        })
    </script>
