<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="icon" href="/thinkphp5/public/static/img/login.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/thinkphp5/public/static/css/bootstrap.css">
    <link rel="stylesheet" href="/thinkphp5/public/static/css/index_css.css">
</head>
<body>
<div class="box">
    <div class="top_nav"><!--导航-->
        <div class="left"><a href="/thinkphp5/public/index.php/message/message/index"><img src="/thinkphp5/public/static/img/login.png"/>首页</a></div>
        <div class="right">
            <ul>
                <li class="nav_login"><a><img src="/thinkphp5/public/static/img/Nav.png" >{$UserLoginname}</a></li>
                <li><a href="/thinkphp5/public/index.php/message/message/my"><img src="/thinkphp5/public/static/img/Article.png"/>我的文章(<span id="MeArticle">{$UserPostNum}</span>)</a></li>
                <li><a href=""><img src="/thinkphp5/public/static/img/@.png" />与我相关(<span id="MeNum">{$UserMyNum}</span>)</a></li>
                <li><a href="/thinkphp5/public/index.php/message/message/out">注销<img src="/thinkphp5/public/static/img/outgoing.png" style="margin-top: 9px;"/></a></li>
            </ul>
        </div>
    </div>
    <div class="search"><!--搜索-->
        <div class="Input">
            <form action="/thinkphp5/public/index.php/message/message/search" method="post">
                <select class="form-control select" name="selecttype">
                    <option>作者名</option>
                    <option>帖子名</option>
                </select>
                <input type="text" class="form-control text" name="selectname">
                <input type="submit" value="搜索" class="btn btn-default button" name="searchBtn"></button>
            </form>
        </div>
    </div>
    <div class="conent">
        <form action="" method="post">
            <dl>
                <dt class="title">帖子标题</dt>
                <dt class="brief">帖子简介</dt>
                <dt class="time">帖子发表时间</dt>
                <dt class="author">帖子发表人</dt>
                <dt class="nums">帖子评论数</dt>
            </dl>
            {volist name="post" id="vo"}
            <dl>
                <a href="/thinkphp5/public/index.php/message/message/content?userid={$vo.user_id}&post_id={$vo.post_id}">
                    <dd class="title">{$vo.post_name}</dd>
                    <dd class="brief">{$vo.post_brief}</dd>
                    <dd class="time">{$vo.post_time}</dd>
                    <dd class="author">{$vo.user_id}</dd>
                    <dd class="nums">{$vo.post_comment_num}</dd>
                </a>
            </dl>
            {/volist}
        </form>
    </div>
</div>
<div class="imgbox"></div>
</body>
</html>


