<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="__VENDOR__/frame/bootstrap/css/bootstrap.min.css">
    <!-- MetisMenu CSS -->
    <link href="__VENDOR__/frame/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__STATIC__/frame/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="__VENDOR__/frame/morrisjs/morris.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="__VENDOR__/frame/font-awesome/css/font-awesome.min.css">
    <!-- jQuery -->
    <script src="__VENDOR__/frame/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__VENDOR__/frame/bootstrap/js/bootstrap.min.js"></script>


</head>
<body>



<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../admin/Home">Blog Management Platform</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> Contact message
                                <span class="pull-right text-muted small">Total 4</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> Review articles
                                <span class="pull-right text-muted small">Total 4</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Look at the whole</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="../admin/showinfor"><i class="fa fa-user fa-fw"></i> Information</a>
                    </li>
                    <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
                    <!--</li>-->
                    <li class="divider"></li>
                    <li><a href="../Out/out"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <!--<li>-->
                        <!--<a href="index.html"><i class="fa fa-user fa-fw"></i>个人中心</a>-->
                    <!--</li>-->
                    <li>
                        <a href="#"><i class="fa fa-slack  fa-fw"></i> 管理员管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="../Manage/showlist"><i class="menu-icon fa fa-caret-right fa-fw"></i>管理员列表</a>
                            </li>
                            <li>
                                <a href="../auth/home"><i class="menu-icon fa fa-caret-right fa-fw"></i>用户组列表</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users fa-fw"></i> 会员管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="../member/ShowList"><i class="menu-icon fa fa-caret-right fa-fw"></i>会员列表</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-files-o fa-fw"></i> 文章管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="../article/showList"><i class="menu-icon fa fa-caret-right fa-fw"></i>文章列表</a>
                            </li>
                            <li>
                                <a href="../article/insertArticle"><i class="menu-icon fa fa-caret-right fa-fw"></i>添加文章</a>
                            </li>
                            <li>
                                <a href="../article/examineArticle"><i class="menu-icon fa fa-caret-right fa-fw"></i>审核文章</a>
                            </li>
                            <li>
                                <a href="../category/insertCategory"><i class="menu-icon fa fa-caret-right fa-fw"></i>属组管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-comment fa-fw"></i> 评论管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>评论列表</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>评论设置</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa  fa-cogs fa-fw"></i> 缓存管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <!--<li>-->
                                <!--<a href="../Cache/home"><i class="menu-icon fa fa-caret-right fa-fw"></i>缓存列表</a>-->
                            <!--</li>-->
                            <li>
                                <a href="../Cache/clearCache"><i class="menu-icon fa fa-caret-right fa-fw"></i>缓存删除</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> 系统设置<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="../system/paging"><i class="menu-icon fa fa-caret-right fa-fw"></i>分页设置</a>
                            </li>
                            <li>
                                <a href="../system/plug_in"><i class="menu-icon fa fa-caret-right fa-fw"></i>插件管理</a>
                            </li>
                            <li>
                                <a href="../system/site"><i class="menu-icon fa fa-caret-right fa-fw"></i>站点信息设置</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> 数据库设置<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="../database/showtables"><i class="menu-icon fa fa-caret-right fa-fw"></i>数据表列表</a>
                            </li>
                            <li>
                                <a href="../database/showbase"><i class="menu-icon fa fa-caret-right fa-fw"></i>数据库备份</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->

    </nav>
    <div id="page-wrapper">