{include file="public/header" /}
        <!--内容显示-->
        <!-- blog/Admin CSS -->
        <link rel="stylesheet" href="__STATIC__/blog/admin.css">
        <!-- 文章管理 类别显示页面-->
        <div class="row">
            <div class="col-lg-12" style="margin-top: 25px;">
                <div class="panel panel-default">
                    <!--文章标头-->
                    <div class="panel-heading ArtManHeader">
                        文章列表
                    </div>
                    <!--文章标头-->
                    <!--文章列表搜索-->
                    <div class="panel-heading ArtMansearch">
                        <form action="../Article/showList" method="post">
                            <div class="wholeBtn">
                                <input type="submit" class="btn btn-default" value="显示全部文章" name="WholeBtn">
                            </div>
                        </form>
                        <form action="../Article/searchArticle" method="post">
                            <div class="searchLeft">
                                <select class="form-control leftTitle" name="Type">
                                    <option>按标题</option>
                                    <option>按所属类</option>
                                    <option>按发布人</option>
                                </select>
                            </div>
                            <div class="input-group custom-search-form searchRight">
                                <input type="text" class="form-control" name="Text">
                                <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" name="SearchBtn">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                            </div>
                        </form>
                    </div>
                    <!--文章列表搜索-->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th> <input type="checkbox"class="Check"></th>
                                <th>编号</th>
                                <th>文章标题</th>
                                <th>所属类</th>
                                <th>审核(状态)</th>
                                <th>发布时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            {volist name='ArticleDate' id='Article'}
                            <tbody>
                            <tr class="odd gradeX">
                                <td style="line-height: 30px;width: 75px;"><input type="checkbox" class="Check"></td>
                                <td style="line-height: 28px;width: 75px;">{$Article.article_id}</td>
                                <td id="title" style="line-height: 28px;width: auto"><a href="../Article/updateArticle?Article_id={$Article.article_id}">{$Article.article_title}</a>({$Article.user_name})</td>
                                <td style="line-height: 28px; width: 200px; ">
                                    <select class="form-control" id="home" name="select" disabled="disabled">
                                        {volist name='CategoryDate' id='Category'}
                                        <?php
                                      if($Article['category_id'] == $Category['category_id'])
                                        $selected='selected';
                                        else $selected='';
                                ?>
                                        <option  {$selected} value="{$Category.category_id}">
                                            {$Category.category_name}
                                            [
                                            <?php
                                     for($Var=0;$Var<count($FatherDate);$Var++){
                                        if($Category['father_id']==$FatherDate[$Var]['category_id']){
                                             echo $FatherDate[$Var]['category_name'];
                                        }
                                     }
                                    ?>
                                            ]
                                        </option>
                                        {/volist}
                                    </select>
                                </td>
                                <?php
                            if($Article['article_state']==1){
                                $state="已审";
                                $clss="btn btn-primary btn-sm";
                            }else if($Article['article_state']==-1){
                                $state="未审";
                                 $clss="btn btn-danger btn-sm";
                            }
                     ?>
                                <td class="center" style="line-height: 28px;width: 90px;">
                                    <a name="statebtn" class="btn btn-default btn-sm {$clss}" href="../article/updateExamineState?id={$Article.article_id}&state={$Article.article_state}" role="button" style="border: transparent solid 1px">{$state}</a>
                                </td>
                                <td class="center" style="line-height: 28px;width: 165px;">{$Article.article_time}</td>
                                <td class="center" style="line-height: 28px;width: 75px; ">
                                    <a class="ace-icon fa fa-pencil bigger" href="../Article/updateArticle?Article_id={$Article.article_id}"></a>
                                    <a class="ace-icon fa fa-trash-o bigger"  href="../Article/deleteArticle?Article_id={$Article.article_id}"></a>
                                </td>
                            </tr>
                            </tbody>
                            {/volist}
                        </table>
                        <!-- /.table-responsive -->
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate" style="float: right">
                            {$page}
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        {include file="public/tail" /}
    </title>
</head>
<body>

</body>
</html>