{include file="public/header" /}
<!--内容显示-->
<link rel="stylesheet" href="__STATIC__/blog/admin.css">
<div class="row">
    <div class="col-lg-12" style="margin-top: 25px;">
        <div class="panel panel-default">
            <div class="panel-heading ArtManHeader">
               欢迎页
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" style="width: 100%;max-height: 560px">
                <h1 style="text-align: center;line-height: 560px;"> 欢迎使用Blog Management Platform！！</h1>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{include file="public/tail" /}


