{include file="public/header" /}
<!--内容显示-->
<link rel="stylesheet" href="__STATIC__/blog/admin.css">
<script type="text/javascript" src="__STATIC__/ue/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/ue/ueditor.all.js"></script>
<script type="text/javascript">
    window.onload=function () {
        var ue = UE.getEditor('editor');
    }
</script>
<div class="row">
    <div class="col-lg-12" style="margin-top: 25px;">
        <div class="panel panel-default">
            <!--标头-->
            <div class="panel-heading ArtManHeader">
                <div style="float: left"><a href="../home/index">后台管理中心</a> - {$Title}<a href="../Home/ReturnUp" style="margin-left: 15px;"><i class="fa fa-reply fa-fw"></i></a></div>
            </div>
            <!--添加商品信息-->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#basic" data-toggle="tab" aria-expanded="false">基本信息</a></li>
                    <li ><a href="#" data-toggle="tab" aria-expanded="true" style="display: none">详细描述</a></li>
                    <li><a href="#other" data-toggle="tab">其他信息</a></li>
                    <li><a href="#attribute" data-toggle="tab">商品属性</a></li>
                    <li><a href="#album" data-toggle="tab">商品相册</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">

                    <div class="tab-pane fade active in" id="basic" >
                        <form class="form-horizontal ajaxForm2" id="GoodsGFrom" method="get" action="../Goodsmanage/InsertGoods" >
                        <!--<h4>基本信息</h4>-->
                            <div id="jiben" style="margin-left:20%;margin-top: 35px;">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right"> 商品名称： </label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" class="col-xs-10 col-sm-6 form-control" style="float: left;width:250px;display: block;">
                                    <i class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="商品名称为必填项"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right"> 商品别名： </label>
                                <div class="col-sm-10">
                                    <input type="text" name="biename" class="col-xs-10 col-sm-6 form-control" style="float: left;width: 250px;display: block;">
                                    <i class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="商品别名为选填项,如果为空,将默认为商品名称"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right"> 商品货号： </label>
                                <div class="col-sm-10">
                                    <input type="text" name="huohao" class="col-xs-10 col-sm-6 form-control" style="float: left;width:250px;display: block;">
                                    <!--<i class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="如果您不输入商品货号，系统将自动生成一个唯一的货号。"></i>-->
                                    <i id="rand"class="fa fa-star fa-fw" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;"data-toggle="tooltip" data-placement="right" title="点击生成一个随机的货号"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right"> 商品类别： </label>
                                <input type="hidden" name="type">
                                <div class="col-sm-10">
                                    <div id="TypeList">
                                    </div>
                                    <input  type="text" id="addleibie" class="col-xs-10 col-sm-6 form-control" style="float: left;width:250px; ">
                                    <!--<i id="tishi" class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="商品类别为必选项"></i>-->
                                    <i id="add"class="fa fa-plus-circle fa-fw" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;"data-toggle="tooltip" data-placement="right" title="商品类别为必选项,点击添加一个类"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right"> 商品供应商： </label>
                                <div class="col-sm-10">
                                    <div id="BrandList">
                                    </div>
                                    <i class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="商品品牌为必选项"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right"> 商品售价： </label>
                                <div class="col-sm-10">
                                    <input type="text" name="shoujia" class="col-xs-10 col-sm-6 form-control" style="float: left;width: 250px;display: block;">
                                    <i class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="商品售价为必填项"></i>
                                </div>

                            </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> 商品市场价： </label>
                            <div class="col-sm-10">
                                <input type="text" name="shichangjia" class="col-xs-10 col-sm-6 form-control" style="float: left;width:250px;display: block;">
                                <i class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="商品市场价为必选项"></i>
                            </div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> 商品成本价： </label>
                            <div class="col-sm-10">
                                <input type="text" name="chengbenjia" class="col-xs-10 col-sm-6 form-control" style="float: left;width:250px;display: block;">
                                <i class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="商品成本价为必选项"></i>
                            </div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> 商品库存： </label>
                            <div class="col-sm-10">
                                <input type="text" name="kucun" class="col-xs-10 col-sm-6 form-control" style="float: left;width: 250px;display: block;">
                                <i class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="商品库存为必填项"></i>
                            </div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> 商品关键字： </label>
                            <div class="col-sm-10">
                                <input type="text" name="guanjianzi" class="col-xs-10 col-sm-6 form-control" style="float: left;width: 250px;display: block;">
                                <i class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="关键字为选填项,以 | 相隔多个关键字"></i>
                            </div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> 虚拟商品： </label>
                            <div class="col-sm-5">
                                <ul class="pagination" style="display: inline-block;padding-left:  85px;float: left;margin: 0 0;" id="fictitious">
                                    <li>
                                        <a data-id="1">是</a>
                                    </li>
                                    <li  class="active">
                                        <a data-id="2">否</a>
                                    </li>
                                    <input type="hidden" name="xuni">
                                </ul><i class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="默认为否"></i>
                            </div>
                        </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right"> 是否上架： </label>
                                <div class="col-sm-5">
                                    <ul class="pagination" style="display: inline-block;padding-left:  85px;float: left;margin: 0 0;" id="shelf">
                                        <li class="active">
                                            <a data-id="1">是</a>
                                        </li>
                                        <li>
                                            <a data-id="2">否</a>
                                        </li>
                                        <input type="hidden" name="shangjia">
                                    </ul>
                                    <i class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="默认为上架"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right"> 商品包邮： </label>
                                <div class="col-sm-5">
                                    <ul class="pagination" style="display: inline-block;padding-left: 85px;float: left;margin: 0 0;" id="free">
                                        <li class="active">
                                            <a data-id="1">是</a>
                                        </li>
                                        <li>
                                            <a data-id="2">否</a>
                                        </li>
                                        <input type="hidden" name="baoyou">
                                    </ul>
                                    <i class="fa fa-fw fa-question-circle" style="float: left;display: block;height: 34px;line-height: 34px;margin-left: 5px;" data-toggle="tooltip" data-placement="right" title="默认为包邮"></i>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right"> 商品添加时间： </label>
                                <div class="col-sm-10">
                                    <input id="time" type="text" name="addtime" class="col-xs-10 col-sm-6 form-control" style="float: left;width:250px;display: block;"readonly>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            </div>
                            <div id="xiangqing" style="display: none">
                                <a href="../Home/ReturnOne" style="margin-left: 15px;"><i class="fa fa-reply fa-fw"></i>返回上一层</a>.
                                <textarea id="editor" name="Textarea" style="width: 100%;height: 350px;margin: 0 auto; margin-top: 5px;"></textarea>
                            </div>
                            <div class="clearfix form-actions" style="margin-left: 10%;margin-top: 5%">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="button" name="insertBtn" >
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        保存
                                    </button>
                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="other">
                        <h4>其他信息</h4>
                    </div>
                    <div class="tab-pane fade" id="attribute">
                        <h4>商品属性</h4>
                    </div>
                    <div class="tab-pane fade" id="album">
                        <h4>商品相册</h4>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="margin-top: 80%">
            <div style="width: 300px;height: 150px">
                <div style="padding: 20px 20px 20px 55px;text-align: left;position: relative;line-height: 24px;word-break: break-all;font-size: 14px;overflow: auto;">
                    你确定要提交以上数据吗？
                </div>
                <a id="yes" class="btn btn-default btn-sm" href="#" role="button" style="margin-left: 60%;margin-top: 35px;"  data-dismiss="modal">确定</a>
                <a id="no" class="btn btn-default btn-sm" href="#" role="button" style="margin-top: 35px;"  data-dismiss="modal">取消</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#addleibie").hide();
        /*生成时间*/
        var str = getFormatDate();
        $("#time").val(str);
        $('[data-toggle="tooltip"]').tooltip();

        /*虚拟商品*/
        $("#fictitious").find("li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            $("#free").find("li").eq(1).addClass("active").siblings().removeClass("active");
        });
        /*上架*/
        $("#shelf").find("li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
        });
        /*包邮*/
        $("#free").find("li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
        });
        /*焦点事件*/

        $("button[name='insertBtn']").click(function () {
            /*商品名称*/
            var name = $("input[name='name']").val();
            if(name!=""){
                /*商品别名*/
                var biename = $("input[name='biename']").val();
                if(biename!=""){
                    /*商品huohao*/
                    var huohao = $("input[name='huohao']").val();
                    if(huohao!=""){
                        /*商品类别*/
                        var OneType = $("select[name='OneType']").val();
                        var TwoType = $("select[name='TwoType']").val();
                        if(OneType!="请选择..."){
                            if(TwoType=="请选择...") {
                              $("input[name='type']").val(OneType);
                            }else   $("input[name='type']").val(TwoType);
                            /*商品品牌*/
                            var selectpinpai = $("select[name='pinpai']").val();
                            if(selectpinpai!="请选择..."){

                                /*商品售价*/
                                var shouji = $("input[name='shoujia']").val();
                                if(shouji!=""){

                                    /*商品市场价*/
                                    var shichangjia = $("input[name='shichangjia']").val();
                                    if(shichangjia!=""){

                                        /*商品成本价*/
                                        var chengbenjia = $("input[name='chengbenjia']").val();
                                        if(chengbenjia!=""){

                                            /*商品库存*/
                                            var kucun = $("input[name='kucun']").val();
                                            if(kucun!=""){

                                                /*商品关键字*/
                                                var guanjianzi = $("input[name='guanjianzi']").val();
                                                if(guanjianzi!=""){

                                                    /*虚拟*/
                                                    var fictitiousli =$("#fictitious").find("li").length;
                                                    for(var i=0;i<fictitiousli;i++){
                                                        if($("#fictitious").find("li").eq(i).attr("class") == "active"){
                                                            var fictitious=$("#fictitious").find("li").eq(i).find("a").text();
                                                            if(fictitious === "是") {
                                                                $("#fictitious").find("input[name='xuni']").val("1");
                                                            }else {
                                                                $("#fictitious").find("input[name='xuni']").val("0");
                                                            }
                                                        }
                                                    }
                                                    /*上架*/
                                                    var shelfli =$("#shelf").find("li").length;
                                                    for(var i=0;i<shelfli;i++){
                                                        if($("#shelf").find("li").eq(i).attr("class") == "active"){
                                                            var shelf=$("#shelf").find("li").eq(i).find("a").text();
                                                            if(shelf === "是") {
                                                                $("#shelf").find("input[name='shangjia']").val("1");
                                                            }else {
                                                                $("#shelf").find("input[name='shangjia']").val("0");
                                                            }
                                                        }
                                                    }
                                                    /*包邮*/
                                                    var freeli =$("#free").find("li").length;
                                                    for(var i=0;i<freeli;i++){
                                                        if($("#free").find("li").eq(i).attr("class") == "active"){
                                                            var free=$("#free").find("li").eq(i).find("a").text();
                                                            if(free === "是") {
                                                                $("#free").find("input[name='baoyou']").val("1");
                                                            }else {
                                                                $("#free").find("input[name='baoyou']").val("0");
                                                            }
                                                        }
                                                    }
                                                    /*infor*/
                                                    var infor = $("textarea[name='Textarea']").val();
                                                    if(infor=="") {
                                                        var confirmdel= confirm('确认要详情吗?');
                                                        if(confirmdel) {
                                                            $("#xiangqing").css({
                                                                "display":"block"
                                                            })
                                                            $("#jiben").css({
                                                                "display":"none"
                                                            })
                                                            $("textarea[name='Textarea']").focus();
                                                            var infor = $("textarea[name='Textarea']").val();
                                                        }else{
                                                            var confirmdel2= confirm('确认要以上商品信息吗?');
                                                            if(confirmdel2) {
                                                                $.ajax({
                                                                    type: $("#GoodsGFrom").attr("method"),
                                                                    url: $("#GoodsGFrom").attr("action"),
                                                                    data: $('#GoodsGFrom').serialize(),
                                                                    dataType: "text",
                                                                    traditional: true,
                                                                    success: function (outData) {
                                                                        console.log(outData);
                                                                    }
                                                                });
                                                            }
                                                        }
                                                    }else{
                                                        var confirmdel2= confirm('确认要以上商品信息吗?');
                                                        if(confirmdel2) {
                                                            $.ajax({
                                                                type: $("#GoodsGFrom").attr("method"),
                                                                url: $("#GoodsGFrom").attr("action"),
                                                                data: $('#GoodsGFrom').serialize(),
                                                                dataType: "text",
                                                                traditional: true,
                                                                success: function (outData) {
                                                                    console.log(outData);
                                                                    if(outData ==="1") {
                                                                        alert("添加成功，详情请到首页查看");
                                                                        window.location.href = "../GoodsManage/showList?title=商品列表";
                                                                    }
                                                                }
                                                            });
                                                        }
                                                    }
                                                }else $("input[name='guanjianzi']").focus();
                                            }else $("input[name='kucun']").focus();
                                        }else $("input[name='chengbenjia']").focus();
                                    }else $("input[name='shichangjia']").focus();
                                }else $("input[name='shoujia']").focus();
                            }else $("select[name='pinpai']").focus();
                        }else $("select[name='leibie']").focus();
                    }else $("input[name='huohao']").focus();
                }else $("input[name='biename']").focus();
            }else $("input[name='name']").focus();

        });

        /*AJAX 获取类别*/
        $.ajax({
            type:"GET",
            url:"../Goodsmanage/ShowTypeList",
            data:{},
            dataType:"html",
            success : function(outData) {
                $("#TypeList").html(outData);
            }
        });
        /*AJAX 获取品牌*/
        $.ajax({
            type:"GET",
            url:"../Goodsmanage/ShowBrandList",
            data:{},
            dataType:"html",
            success : function(outData) {
                $("#BrandList").html(outData);
            }
        });
        /*随机生成rand*/
        $("#rand").click(function () {
            $.ajax({
                type:"GET",
                url:"../Goodsmanage/rand",
                data:{},
                dataType:"text",
                success : function(outData) {
                   $("input[name='huohao']").val(outData);
                }
            })
        });
        /*显示add*/
//        $("#tishi").click(function () {
//            $("#add").show()
//        })

        /*显示添加类*/
//        $("#add").click(function () {
//            var text = $("select[name='OneType']").val();
//            console.log(text);
//            if(text < 0){
//                $("select[name='OneType']").hide();
//                $("#addleibie").show();
//            }
//        })


    });

    /*格式化当前时间格式 yyyy-MM-dd HH:mm:SS */
    function getFormatDate(){
        var nowDate = new Date();
        var year = nowDate.getFullYear();
        var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
        var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
        var hour = nowDate.getHours()< 10 ? "0" + nowDate.getHours() : nowDate.getHours();
        var minute = nowDate.getMinutes()< 10 ? "0" + nowDate.getMinutes() : nowDate.getMinutes();
        var second = nowDate.getSeconds()< 10 ? "0" + nowDate.getSeconds() : nowDate.getSeconds();
        return year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;
    }

//    $('#myModal').modal(options)
</script>
{include file="public/tail" /}
