<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin_login</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="__VENDOR__/frame/bootstrap/css/bootstrap.min.css">

    <!-- MetisMenu CSS -->
    <link href="__VENDOR__/frame/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__STATIC__/frame/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__VENDOR__/frame/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center"> - Sign Index -</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input onkeydown="keydown()" onblur="ProvingName()" class="form-control" placeholder="请输入用户名" name="admin_name" type="text" >
                    </div>
                    <div class="form-group" id="nameerror">
                        <i class="fa fa-info-circle fa-fw"></i><span style="margin-left: 5px;">当前账户已注册</span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="E-mail code" name="returnOne" type="hidden" >
                    </div>
                    <div class="form-group">
                        <input onkeydown="keydown()" onblur ="Email()" class="form-control" placeholder="请输入注册/常用/备用邮箱" name="email" type="text" >
                    </div>
                    <div class="form-group" id="emailerror">
                        <i class="fa fa-info-circle fa-fw"></i><span style="margin-left: 5px;">邮箱格式不正确</span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="请输入获取的验证码" name="emailcode" type="text" >
                    </div>
                    <!--<div class="form-group">-->
                    <!--<input onkeydown="keydown()" class="form-control" placeholder="手机验证码 or E-mail 验证码" name="admin_name" type="text" >-->
                    <!--</div>-->
                    <div class="form-group">
                        <input onkeydown="keydown()" class="form-control" placeholder="密码" name="admin_password" type="password">
                    </div>
                    <div class="form-group">
                        <input onkeydown="keydown()"class="form-control" placeholder="验证码" name="Verification_Code" type="text">
                    </div>
                    <div id="verify" style="margin-bottom: 15px;"><img id="verify_code" style="width: 100%" src="../login/verify"></div>
                    <input onclick="Sign()"  type="submit" class="btn btn-lg btn-success btn-block" value="Sign" name="loginBtn">
                    <div class="already" style="margin: 0 auto;float: none;text-align: center;font-size: 13px;margin-top: 30px;">
                        <p>Have an account already? <a href="../login/index">Login Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="__VENDOR__/frame/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="__VENDOR__/frame/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="__VENDOR__/frame/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="__STATIC__/frame/dist/js/sb-admin-2.js"></script>

<script>
    //隐藏
    $("#emailerror").hide();
    $("#nameerror").hide();

    $("input[name='emailcode']").hide();
    //验证码点击
    $("#verify").on("click",function () {
        $(this).find("img").attr("src","../login/verify");
    })
    //回车事件
    function keydown() {
        if(event.which == 13){
            Sign();
        }
    }
    //注册
    function Sign() {

        var email = $("input[name='email']").val();
        var email_code = $("input[name='emailcode']").val();
        var admin_name= $("input[name='admin_name']").val();
        var admin_password= $("input[name='admin_password']").val();
        var Verification_Code= $("input[name='Verification_Code']").val();
        $.ajax({
            type:"POST",
            url:"../login/ajaxSign",
            data:{
                "email":email,
                "email_code":email_code,
                "name":admin_name,
                "password":admin_password,
                "code":Verification_Code
            },
            dataType:"text",
            success : function(outDate){
                console.log(outDate);
                if(outDate=="注册成功"){
                    /*登录成功*/

//                    $.ajax({
//                        type:"POST",
//                        url:"../login/index",
//                        data:{"name":admin_name,"password":admin_password}
//                    });
//                    alert("注册成功");
                    alert("重置成功");
                    window.location.href="../login/index";
                }else if(outDate=="邮箱验证码输入错误") {
                    alert("邮箱验证码输入错误");
                    $("input[name='emailcode']").val("");
                    $("input[name='admin_password']").val("");
                    $("input[name='Verification_Code']").val("");
                    $("#verify_code").attr("src","../login/verify");
                }else if(outDate=="验证码输入错误") {
                    alert("验证码输入错误");
                    $("input[name='Verification_Code']").val("");
                    $("#verify_code").attr("src","../login/verify");
                }else if(outDate=="有输入项为空") {
                    alert("有输入项为空");
                    $("input[name='Verification_Code']").val("");
                    $("#verify_code").attr("src","../login/verify");
                }
            }
        })
    }
    //验证用户名
    function ProvingName() {
        $.ajax({
            type:"POST",
            url:"../login/ProvingName",
            data:{"name":$("input[name='admin_name']").val()},
            dataType:"text",
            success:function (outData) {
                console.log(outData);
                if(outData=="") {
                    $("#nameerror").hide();
                    $("input[name='email']").focus();
                }else{
                    $("#nameerror").show();
                    $("input[name='admin_name']").focus();
                }
            }

        });
    }
    //验证邮箱/发送验证码
    function Email() {
        var email =$("input[name='email']").val();
        var id =   $("input[name='returnOne']").val();
        var isEmail =  /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
        if(email !="") {
            if(isEmail.test(email)){
                    $("#error").hide();
                    $("#emailerror").hide();
                    $("input[name='emailcode']").show();
                    $("input[name='emailcode']").focus();
                    $.ajax({
                        type: "POST",
                        url: "../login/email",
                        data: {"email": $("input[name='email']").val()},
                        success: function (Data) {
                            if (Data === "1") {
                                alert("验证码已发送至指定邮箱,请及时查收，并填写接收的验证码");
                                $("input[name='emailcode']").focus();
                            }
                        }
                    });
            }else{
//                alert("格式不正确,请重新输入");
                $("#emailerror").show();
                $("input[name='email']").focus();
            }

//            var confirmdel = confirm('系统将发送一份附有验证码的邮件至指定邮箱,请确定邮箱的正确性');
//            if(confirmdel) {
//            }
        }
    }
</script>

</body>

</html>
