<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>后台管理中心</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="__VENDOR__/frame/bootstrap/css/bootstrap.min.css">
    <!-- MetisMenu CSS -->
    <link href="__VENDOR__/frame/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__STATIC__/frame/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="__VENDOR__/frame/morrisjs/morris.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="__VENDOR__/frame/font-awesome/css/font-awesome.min.css">
    <!-- jQuery -->
    <script src="__VENDOR__/frame/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__VENDOR__/frame/bootstrap/js/bootstrap.min.js"></script>


</head>
<body>



<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../home/index">SHOP Management Platform</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
                    <!--<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu dropdown-alerts">-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<i class="fa fa-comment fa-fw"></i> Contact message-->
                                <!--<span class="pull-right text-muted small">Total 4</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div>-->
                                <!--<i class="fa fa-twitter fa-fw"></i> Review articles-->
                                <!--<span class="pull-right text-muted small">Total 4</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a class="text-center" href="#">-->
                            <!--<strong>Look at the whole</strong>-->
                            <!--<i class="fa fa-angle-right"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.dropdown-alerts &ndash;&gt;-->
            <!--</li>-->
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> Information</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="../Login/retire"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation" style="width: 225px">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gift  fa-fw"></i> 商品管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="../GoodsManage/showList?title=商品列表"><i class="menu-icon fa fa-caret-right fa-fw"></i>商品列表</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>商品分类</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>品牌列表</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>类型列表</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>标签管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>虚拟商品列表</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>商品回收站</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> 订单管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>订单列表</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>订单查询</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>订单合并</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>订单打印</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>缺货登记</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>发货单列表</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>退货单列表</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-table fa-fw"></i> 报表统计<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>流量统计</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>客户统计</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>订单统计</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>销售概况</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>会员排行</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>销售明细</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>销售排行</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user-md fa-fw"></i> 会员管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>会员列表</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>会员等级</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>会员留言</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>资金管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa  fa-cogs fa-fw"></i> 权限管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                            <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>管理员列表</a>
                             </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>管理员日志</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>角色管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>供货商列表</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> 系统设置<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>站点信息管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>会员注册项</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>支付方式</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>配送方式</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>地区管理</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>...</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-database fa-fw"></i> 数据库设置<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>数据备份</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>数据优化</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>SQL查询</a>
                            </li>
                            <li>
                                <a href="#"><i class="menu-icon fa fa-caret-right fa-fw"></i>...</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->

    </nav>
    <div id="page-wrapper" style="margin:0 0 0 225px">