<div id="sidebar" class="sidebar responsive sidebar-fixed ace-save-state">
	<script type="text/javascript">
		try{ace.settings.loadState('sidebar')}catch(e){}
	</script>

	<!-- 菜单列表开始 -->
	<ul class="nav nav-list">
          <li>
            <div style="background-color:#FFB752!important" >
              <div style="padding:8px 12px;font-size:16px;pull-left" >{:session('admin_auth.admin_username')}
                <a href="{:url('admin/Login/logout')}"  data-info="你确定要退出吗？" class="pull-right">
	          <i class="ace-icon fa fa-power-off"></i>
	        </a></div>
	    </div>
          </li>
		<!--一级菜单遍历开始-->
		{foreach name="menus" item="v"}
			{if condition="!empty($v['_child'])"}
				<li class="{if condition="(count($menus_curr) egt 1) AND ($menus_curr[0] eq $v['id'])"}open{/if}">
			<a href="javascript:void(0);" class="dropdown-toggle">
				<i class="menu-icon fa {$v.css}"></i>
				<span class="menu-text">{$v.title}</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<ul class="submenu">
				<!--二级菜单遍历开始-->
				{foreach name="v._child" item="vv"}
					{if condition="!empty($vv['_child'])"}
						<li class="{if condition="(count($menus_curr) egt 2) AND ($menus_curr[1] eq $vv['id'])"}active open{/if}">
					<a href="javascript:void(0);" class="dropdown-toggle">
						<i class="menu-icon fa fa-caret-right"></i>
						{$vv.title}
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<!--三级菜单遍历开始-->
						{foreach name="vv._child" item="vvv"}
							<li class="{if condition="(count($menus_curr) egt 3) AND ($menus_curr[2] eq $vvv['id'])"}active{/if}">
							<a href="{:url($vvv['name'])}">
								<i class="menu-icon fa fa-caret-right"></i>
								{$vvv.title}
							</a>
							<b class="arrow"></b>
							</li>
						{/foreach}<!--三级菜单遍历结束-->
					</ul>
					</li>
					{else /}
					<li class="{if condition="(count($menus_curr) egt 2) AND ($menus_curr[1] eq $vv['id'])"}active{/if}">
					<a href="{:url($vv['name'])}">
						<i class="menu-icon fa fa-caret-right"></i>
						{$vv.title}
					</a>
					<b class="arrow"></b>
					</li>
					{/if}
				{/foreach}<!--二级菜单遍历结束-->
			</ul>
			</li>
			{else /}
			<li class="{if condition="(count($menus_curr) egt 1) AND ($menus_curr[0] eq $v['id'])"}active{/if}">
			<a href="{:url($v['name'])}">
				<i class="menu-icon fa fa-caret-right"></i>
				{$v.title}
			</a>
			<b class="arrow"></b>
			</li>
			{/if}
		{/foreach}<!--一级菜单遍历结束-->
	</ul><!-- 菜单列表结束 -->

	<!-- 菜单栏缩进开始 -->
	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div><!-- 菜单栏缩进结束 -->
</div>
