<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin_login</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="__VENDOR__/frame/bootstrap/css/bootstrap.min.css">

    <!-- MetisMenu CSS -->
    <link href="__VENDOR__/frame/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__STATIC__/frame/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__VENDOR__/frame/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">
                        <!--<form role="form" action=" ../admin/iflogin" method="post">-->
                            <div class="form-group">
                                <input class="form-control" placeholder="用户名" name="admin_name" type="text" >
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="密码" name="admin_password" type="password">
                            </div>
                            <div class="form-group">
                                <input onkeydown="keydown()"class="form-control" placeholder="验证码" name="Verification_Code" type="text">
                            </div>
                            <div id="verify" style="margin-bottom: 15px;"><img id="verify_code" style="width: 100%" src="../admin/verify"></div>
                            <div class="checkbox">
                            <label>
                              <input name="remember" type="checkbox" value="Remember Me">Remember Me
                            </label>
                            </div>
                            <input onclick="login()"  type="submit" class="btn btn-lg btn-success btn-block" value="Login" name="loginBtn">
                        <!--</form>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="__VENDOR__/frame/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="__VENDOR__/frame/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="__VENDOR__/frame/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="__STATIC__/frame/dist/js/sb-admin-2.js"></script>

<script>
    $("#verify").on("click",function () {
        $(this).find("img").attr("src","../admin/verify");
    })
    function keydown() {
       if(event.which == 13){
           login();
       }
    }
    function login() {
            var admin_name= $("input[name='admin_name']").val();
            var admin_password= $("input[name='admin_password']").val();
            var Verification_Code= $("input[name='Verification_Code']").val();
            $.ajax({
                type:"GET",
                url:"/index.php/blogadmin/Admin/ajaxLogin",
                data:{"name":admin_name,"password":admin_password,"code":Verification_Code},
                dataType:"text",
                success : function(outDate){
                    if(outDate=="登录成功"){
                        /*登录成功*/
                        alert("登录成功");
                        window.location.href="../admin/home";
                    }else if(outDate=="密码错误") {
                        alert("密码错误");
                        $("input[name='admin_password']").val("");
                        $("input[name='Verification_Code']").val("");
                        $("#verify_code").attr("src","../admin/verify");
                    }else if(outDate=="当前账号不存在") {
                        alert("当前账号不存在");
                        $("input[name='admin_name']").val("");
                        $("input[name='admin_password']").val("");
                        $("input[name='Verification_Code']").val("");
                        $("#verify_code").attr("src","../admin/verify");
                    }else if(outDate=="验证码输入错误") {
                        alert("验证码输入错误");
                        $("input[name='Verification_Code']").val("");
                        $("#verify_code").attr("src","../admin/verify");
                    }else if(outDate=="有输入项为空") {
                        alert("有输入项为空");
                        $("input[name='Verification_Code']").val("");
                        $("#verify_code").attr("src","../admin/verify");
                    }
                }
            })
    }

</script>

</body>

</html>
